@page "/"

@using BlazorApp3.Data
@inject NZC19CaseStatsService CaseStatsService


@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.PolarAreaChart
@using ChartJs.Blazor.ChartJS.Common.Properties
@using ChartJs.Blazor.Util

    <style type="text/css">
        .idk{
            font-family:'Roboto'
        }
        .wrap {
            display: flex;
            justify-content: space-between;
        }

        .left, .right, .middle {
            height: 800px;
        }

        .left {
            width: 50%;
            background: #ffffff;
        }

        .right {
            width: 50%;
            background: #ffffff;
        }

        .middle {
            background: #ffffff;
            width: 1%;
            margin: 0 0px;
        }
    </style>

    <h1>NZ Covid19 STATS</h1>

    <body>
        <label class="idk">Total Confirmed: @cseStatsData[0].ConfirmedCasesTotal</label>
        <label class="idk">Total Probable: @cseStatsData[0].ProbableCasesTotal</label>
        <label class="idk">Total Recovered: @cseStatsData[0].RecoveredCasesTotal</label>

        <label class="idk">New in 24h</label>
        <label class="idk">Confirmed: @cseStatsData[0].ConfirmedCasesNew24h</label>
        <label class="idk"> Probable: @cseStatsData[0].RecoveredCasesNew24h</label>
        <label class="idk"> Recovered: @cseStatsData[0].RecoveredCasesNew24h</label>
        <div class="wrap">
            <div id="map" class="left">
                <ChartJsPolarAreaChart @ref="_polarChartJs" Config="@_config" Width="500" Height="500" />

            </div>
            <div id="map" class="right">
                <ChartJsPolarAreaChart @ref="_polarChartJs24" Config="@_config24" Width="500" Height="500" />
            </div>
        </div>
    </body>


    @code {
        private PolarAreaConfig _config;
        private ChartJsPolarAreaChart _polarChartJs;

        private PolarAreaConfig _config24;
        private ChartJsPolarAreaChart _polarChartJs24;

        private string caseStatsUrl = "https://nzcovid19api.xerra.nz/casestats/json";

        private PolarAreaConfig initCofig(string textString)
        {

            PolarAreaConfig _configTemp = new PolarAreaConfig
            {
                Options = new PolarAreaOptions
                {
                    Title = new OptionsTitle
                    {
                        Display = true,
                        Text = textString,
                    },
                    Responsive = true,
                    Animation = new ArcAnimation
                    {
                        AnimateRotate = true,
                        AnimateScale = true
                    }
                }
            };

            return _configTemp;
        }

        private PolarAreaDataset initPolarAreaSet(double[] areaSetData)
        {

            PolarAreaDataset polarAreaSet = new PolarAreaDataset
            {
                BackgroundColor = new[] { "red", "yellow", "blue", "green", "black" },
                BorderWidth = 2,
                HoverBackgroundColor = ColorUtil.RandomColorString(),
                HoverBorderColor = ColorUtil.RandomColorString(),
                HoverBorderWidth = 2,
                BorderColor = "#ffffff",
            };

            polarAreaSet.Data.AddRange(areaSetData);

            return polarAreaSet;
        }

        NZC19CaseStatsData[] cseStatsData;
        protected override async void OnInitialized()
        {
            _config = initCofig("TOTAL CASES");
            _config24 = initCofig("CASES NEW in 24 HOURS");


            _config.Data.Labels.AddRange(new[] { "ConfirmedCasesTotal", "ProbableCasesTotal", "RecoveredCasesTotal", "HospitalisedCasesTotal", "DeathCasesTotal" });
            _config24.Data.Labels.AddRange(new[] { "ConfirmedCasesNew24h", "ProbableCasesNew24h", "RecoveredCasesNew24h", "HospitalisedCasesNew24h", "DeathCasesNew24h" });

            cseStatsData = await CaseStatsService.GetCaseStatsAsync(DateTime.Now, caseStatsUrl);


            var polarAreaSet = initPolarAreaSet(new double[] { cseStatsData[0].ConfirmedCasesTotal, cseStatsData[0].ProbableCasesTotal, cseStatsData[0].RecoveredCasesTotal,
                        cseStatsData[0].HospitalisedCasesTotal, cseStatsData[0].DeathCasesTotal });
            _config.Data.Datasets.Add(polarAreaSet);


            var polarAreaSet24 = initPolarAreaSet(new double[] { cseStatsData[0].ConfirmedCasesNew24h, cseStatsData[0].ProbableCasesNew24h, cseStatsData[0].RecoveredCasesNew24h,
                        cseStatsData[0].HospitalisedCasesNew24h, cseStatsData[0].DeathCasesNew24h });
            _config24.Data.Datasets.Add(polarAreaSet24);

            StateHasChanged();
        }

      }


