@page "/"

@using BlazorApp3.Data
@inject NZC19CaseStatsService CaseStatsService


@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.PolarAreaChart
@using ChartJs.Blazor.ChartJS.Common.Properties
@using ChartJs.Blazor.Util

    <style type="text/css">
        h1{
            margin-bottom:20px;
        }
        body {
            
            background-color: #F2F4F4;
        }

        
        .card {
            margin-top: 10px;
            margin-bottom: 10px;

            display: flex;
            flex-direction: row;
            flex-wrap: warp;
            justify-content: space-around;
        }

        .card div {
            margin-top: 0.4rem;
            margin-bottom: 0.4rem;
            margin-left: 50px;
            margin-right: 50px;
            border-radius: 6px;
            white-space: nowrap;
            background: #F2F4F4;
        }
        .idk {
            background-color: white;
            text-align: center;
        }
        .type{
            font-size: 12px;
        }
        .number{
            font-size:19px;
        }
        .increase{
            font-size: 11px;
        }
        .wrap {
            display: flex;
            justify-content: space-between;
            background: #ffffff;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .left, .right, .middle {
            position: relative;
            height: 800px;
        }

        .left {
            width: 50%;
            background: #ffffff;
        }

        .right {
            width: 50%;
            background: #ffffff;
        }

        .middle {
            background: #ffffff;
            width: 1%;
            margin: 0 0px;
        }
    </style>

    <h1 style="text-align: center" >New Zealand Covid-19 Current Status</h1>

    <body>
        <div class="card">
            <div class="idk">
                <div class="type">Confirmed</div>
                <div class="number" style="color: rgb(255, 96, 60)">@cseStatsData[0].ConfirmedCasesTotal</div>
                <div class="increase" style="color: rgb(255, 96, 60)">@cseStatsData[0].RecoveredCasesNew24h today</div>
            </div>
            <div class="idk">
                <div class="type">Probable </div>
                <div class="number" style="color: rgb(0, 124, 242)">@cseStatsData[0].ProbableCasesTotal</div>
                <div class="increase" style="color: rgb(0, 124, 242)">@cseStatsData[0].ProbableCasesNew24h today</div>
            </div>
            <div class="idk">
                <div class="type">Recovered </div>
                <div class="number" style="color: rgb(0, 193, 119)">@cseStatsData[0].RecoveredCasesTotal</div>
                <div class="increase" style="color: rgb(0, 193, 119)">@cseStatsData[0].RecoveredCasesNew24h today</div>
            </div>
            <div class="idk">
                <div class="type">in Hospital </div>
                <div class="number" style="color: rgb(157, 113, 234)">@cseStatsData[0].HospitalisedCasesTotal</div>
                <div class="increase" style="color: rgb(157, 113, 234)">@cseStatsData[0].HospitalisedCasesNew24h today</div>
            </div>
            <div class="idk">
                <div class="type">Deaths </div>
                <div class="number" style="color: rgb(193, 23, 0)">@cseStatsData[0].DeathCasesTotal</div>
                <div class="increase" style="color: rgb(193, 23, 0)">@cseStatsData[0].DeathCasesNew24h today</div>
            </div>
        </div>
        <div class="wrap">
            <div id="map" class="left">
                <ChartJsPolarAreaChart @ref="_polarChartJs" Config="@_config" Width="500" Height="500" />

            </div>
            <div id="map" class="right">
                <ChartJsPolarAreaChart @ref="_polarChartJs24" Config="@_config24" Width="500" Height="500" />
            </div>
        </div>
    </body>


    @code {
        private PolarAreaConfig _config;
        private ChartJsPolarAreaChart _polarChartJs;

        private PolarAreaConfig _config24;
        private ChartJsPolarAreaChart _polarChartJs24;

        private string caseStatsUrl = "https://nzcovid19api.xerra.nz/casestats/json";

        private PolarAreaConfig initCofig(string textString)
        {

            PolarAreaConfig _configTemp = new PolarAreaConfig
            {
                Options = new PolarAreaOptions
                {
                    Title = new OptionsTitle
                    {
                        Display = true,
                        Text = textString,
                    },
                    Responsive = true,
                    Animation = new ArcAnimation
                    {
                        AnimateRotate = true,
                        AnimateScale = true
                    }
                }
            };

            return _configTemp;
        }

        private PolarAreaDataset initPolarAreaSet(double[] areaSetData)
        {

            PolarAreaDataset polarAreaSet = new PolarAreaDataset
            {
                BackgroundColor = new[] { "red", "yellow", "blue", "green", "black" },
                BorderWidth = 2,
                HoverBackgroundColor = ColorUtil.RandomColorString(),
                HoverBorderColor = ColorUtil.RandomColorString(),
                HoverBorderWidth = 2,
                BorderColor = "#ffffff",
            };

            polarAreaSet.Data.AddRange(areaSetData);

            return polarAreaSet;
        }

        NZC19CaseStatsData[] cseStatsData;
        protected override async void OnInitialized()
        {
            _config = initCofig("TOTAL CASES");
            _config24 = initCofig("CASES NEW in 24 HOURS");


            _config.Data.Labels.AddRange(new[] { "ConfirmedCasesTotal", "ProbableCasesTotal", "RecoveredCasesTotal", "HospitalisedCasesTotal", "DeathCasesTotal" });
            _config24.Data.Labels.AddRange(new[] { "ConfirmedCasesNew24h", "ProbableCasesNew24h", "RecoveredCasesNew24h", "HospitalisedCasesNew24h", "DeathCasesNew24h" });

            cseStatsData = await CaseStatsService.GetCaseStatsAsync(DateTime.Now, caseStatsUrl);


            var polarAreaSet = initPolarAreaSet(new double[] { cseStatsData[0].ConfirmedCasesTotal, cseStatsData[0].ProbableCasesTotal, cseStatsData[0].RecoveredCasesTotal,
                        cseStatsData[0].HospitalisedCasesTotal, cseStatsData[0].DeathCasesTotal });
            _config.Data.Datasets.Add(polarAreaSet);


            var polarAreaSet24 = initPolarAreaSet(new double[] { cseStatsData[0].ConfirmedCasesNew24h, cseStatsData[0].ProbableCasesNew24h, cseStatsData[0].RecoveredCasesNew24h,
                        cseStatsData[0].HospitalisedCasesNew24h, cseStatsData[0].DeathCasesNew24h });
            _config24.Data.Datasets.Add(polarAreaSet24);

            StateHasChanged();
        }

      }


